body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

.header,
.hero {
    background-color: #1F2937 ;
}